<div 
    style="display: flex; gap: 20px; justify-content: space-between;"
    class ="my-3 task"
>
    <span 
        class="col-2"
        [ngClass]="{
            'text-decoration-line-through': task.done, 
            'task-not-done': !task.done
        }"
    >
        {{ task.name }}
    </span>
    <span class="col-7">{{ task.comment }}</span>
    <button 
        class="col-2"
        (click)="onButtonValidate()" 
        [ngClass]="{
            'btn': true,
            'btn-success': !task.done,
            'btn-warning': task.done,
        }"
        [textContent]="task.done ? 'Invalider' : 'Valider'"
    >
        Valider
    </button>
</div>
