<section *ngIf="tasks.length > 0">
    <!-- Passage de data (le title de app.component) à ToDoListComponent via @Input --> 
    <h1 class="mb-4">{{ data | uppercase }}</h1>
    <h2 [ngStyle]="{fontWeight: fontWeight}">Les tâches qu'il te reste à faire :</h2>
    <ul>
      <li *ngFor="let task of tasks">
        <!-- Passage de chaque task à TaskComponent via @Input et souscription à l'event validate-->
        <digi-task [task]="task" (validate)="onButtonValidate(task.id)"></digi-task>
      </li>
    </ul>
</section>